<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <td><%= link_to category.genre, controller: "books", action: "show", category_id: category.id%></td>
    </li>
  <% end %>
  <br>
  <%= link_to "New Category", new_category_path %>
  <br>
  <%= link_to "All books", :books, param: :book_path%>
</ul>