<div id="<%= dom_id line_item %>">
  <p>
    <strong>Book:</strong>
    <%= line_item.book_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= line_item.cart %>
  </p>

  <p>
    <strong>Belongs to:</strong>
    <%= line_item.belongs_to %>
  </p>

</div>
